<%= simple_form_for(@wish, html: {class: 'form-horizontal'}) do |f| %>
  <% if @wish.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wish.errors.count, "error") %> prohibited this wish from being saved:</h2>

      <ul>
      <% @wish.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
	<%= f.input_field :wish, as: :text %>
  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>


